* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.workoutsCard-hideEx {
  height: 46px;
}

.workoutsCard-showEx {
  height: auto;
  border: 2px solid #2B3A42;
  padding: 20px;
}

.exerciseCard-showEx {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.exerciseCard-hideEx {
  display: none;
}

.upArrow {
  align-self: flex-end;
  /* border: solid red; */
}
